 

 body {background-color: #777;
 	max-width: 960px;}
    
    .jumbotron{text-align: center;
    	font-family: "Arial", Helvetica Neue, Helvetica, sans-serif;"
    	font-size:18px;
    	background-color: #ecdeec;
    	margin-left: auto;
    	margin-right:auto;
    	padding:40px;}

    	.center-block {  
  display: block;  
  margin-right: auto;  
  margin-left: auto; }

  #col-lg-2  {text-align: center;
    	font-family: "Arial", Helvetica Neue, Helvetica, sans-serif;"
    	font-size:18px;
    	background-color: #ecdeec;
    	margin-left: auto;
    	margin-right:auto;
    	padding:40px;}